In [7]:
# Required python package imports
import sqlalchemy
import sys
from sqlalchemy import create_engine, MetaData, Table, select
import pyodbc
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)
import numpy
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import time 
import multiprocessing 
%matplotlib inline
import matplotlib.image as image
import datetime
from pandas.io.data import DataReader

In [13]:
goog = DataReader('GOOG',  'yahoo', datetime(2000,1,1), datetime(2012,1,1))
goog.head(5)

                  Open        High         Low       Close    Volume  Adj Close
Date
2004-08-19  100.000168  104.060182   95.960165  100.340176  44871300  50.119968
2004-08-20  101.010175  109.080187  100.500174  108.310183  22942800  54.100990
2004-08-23  110.750191  113.480193  109.050183  109.400185  18342800  54.645447
2004-08-24  111.240189  111.600192  103.570177  104.870176  15319700  52.382705
2004-08-25  104.960181  108.000187  103.880180  106.000184   9232100  52.947145

                  Open        High         Low       Close    Volume   Adj Close
Date
2004-08-19  100.000168  104.060182   95.960165  100.340176  44871300   50.119968
2004-08-20  101.010175  109.080187  100.500174  108.310183  22942800   54.100990
2004-08-23  110.750191  113.480193  109.050183  109.400185  18342800   54.645447
2004-08-24  111.240189  111.600192  103.570177  104.870176  15319700   52.382705
2004-08-25  104.960181  108.000187  103.880180  106.000184   9232100   52.947145
2004-08-26  104.950180  107.950188  104.660179  107.910182   7128600   53.901190
2004-08-27  108.100185  108.620186  105.690180  106.150181   6241200   53.022069
2004-08-30  105.280178  105.490184  102.010172  102.010172   5221400   50.954132
2004-08-31  102.300173  103.710180  102.160177  102.370175   4941200   51.133953
2004-09-01  102.700174  102.970180   99.670169  100.250171   9181600   50.075011
2004-09-02   99.190173  102.370175   98.940170  101.510173  15190400   50.704382
2004-09-03  100.950174  101.740174   99.320168  100.010169   5176800   49.955130
2004-09-07  101.010175  102.000178   99.610169  101.580175   5875200   50.739348
2004-09-08  100.740176  103.030180  100.500174  102.300173   5009200   51.098988
2004-09-09  102.530174  102.710175  101.000173  102.310174   4080900   51.103983
2004-09-10  101.600178  106.560183  101.300176  105.330177   8740200   52.612476
2004-09-13  106.630185  108.410189  106.460185  107.500188   7881300   53.696398
2004-09-14  107.450181  112.000192  106.790184  111.490192  10880300   55.689407
2004-09-15  110.560189  114.230195  110.200186  112.000192  10763900   55.944152
2004-09-16  112.340192  115.800201  111.650191  113.970198   9310200   56.928171
2004-09-17  114.420198  117.490200  113.550195  117.490200   9517400   58.686414
2004-09-20  116.950204  121.600205  116.770202  119.360208  10679200   59.620484
2004-09-21  119.810208  120.420206  117.510203  117.840202   7263000   58.861240
2004-09-22  117.400203  119.670204  116.810200  118.380206   7617100   59.130972
2004-09-23  118.840207  122.630207  117.020198  120.820207   8576100   60.349754
2004-09-24  120.940208  124.100214  119.760209  119.830203   9166700   59.855246
2004-09-27  119.560205  120.880207  117.800204  118.260205   7099600   59.071031
2004-09-28  121.300211  127.400217  120.210209  126.860221  17009400   63.366744
2004-09-29  126.700214  135.020238  126.230220  131.080225  30661400   65.474638
2004-09-30  129.900219  132.300222  129.000219  129.600224  13823300   64.735377
...                ...         ...         ...         ...       ...         ...
2011-11-17  610.051036  612.291033  596.781001  600.871049   7012700  300.135389
2011-11-18  602.001003  604.501066  593.751004  594.881019   6599900  297.143366
2011-11-21  587.761035  588.500982  572.090982  580.941000   6025000  290.180320
2011-11-22  580.000965  584.971010  575.240995  580.000965   4828600  289.710772
2011-11-23  575.350963  580.250984  570.110989  570.110989   4668900  284.770724
2011-11-25  565.190997  574.271001  561.330934  563.000991   3136400  281.219276
2011-11-28  579.370987  588.821026  576.501012  588.190986   5678900  293.801692
2011-11-29  587.880990  590.361020  581.331007  582.930979   3677200  291.174315
2011-11-30  597.951021  599.511049  592.090994  599.391032   6819300  299.396120
2011-12-01  600.001038  616.001060  599.001026  613.771050   7268300  306.578946
2011-12-02  617.051065  624.001041  616.261065  620.361038   8201900  309.870648
2011-12-05  627.641105  631.901100  622.401069  625.651065   6418800  312.513020
2011-12-06  622.991042  628.621084  620.241083  623.771056   4670300  311.573954
2011-12-07  621.681094  625.661051  618.101069  623.391096   4531500  311.384164
2011-12-08  621.041069  627.451064  615.301058  616.051052   4844200  307.717808
2011-12-09  618.001086  629.131107  617.011059  627.421106   5553100  313.397156
2011-12-12  621.881060  626.181060  620.291075  625.391061   4384100  312.383147
2011-12-13  628.761073  636.561087  622.851054  625.631093   8086500  312.503043
2011-12-14  621.851041  624.321084  612.491060  618.071050   7836600  308.726798
2011-12-15  622.521085  624.001041  618.691042  619.541080   4835200  309.461079
2011-12-16  624.321084  629.321087  621.471081  625.961061   8952000  312.667863
2011-12-19  628.011078  628.501068  620.001051  621.831069   4302900  310.604929
2011-12-20  628.001092  631.841061  627.991106  630.371091   4794200  314.870675
2011-12-21  630.011104  631.821089  618.961032  625.821073   5014400  312.597938
2011-12-22  627.951101  631.731092  627.011065  629.701108   3658200  314.536018
2011-12-23  632.001082  634.681078  630.561071  633.141084   2918200  316.254288
2011-12-27  632.051074  644.491104  632.001082  640.251081   3224800  319.805735
2011-12-28  642.751083  645.001127  638.101081  639.701114   4270200  319.531026
2011-12-29  641.491127  643.001101  635.201087  642.401081   3162500  320.879661
2011-12-30  642.021122  646.761120  642.021122  645.901096   3577800  322.627920

[1857 rows x 6 columns]

In [9]:
from pandas.io.data import DataReader
from datetime import datetime

ibm = DataReader('IBM',  'yahoo', datetime(2000,1,1), datetime(2012,1,1))
print(ibm['Adj Close'])

Date
2000-01-03     90.028414
2000-01-04     86.972492
2000-01-05     90.028414
2000-01-06     88.476200
2000-01-07     88.088146
2000-01-10     91.580628
2000-01-11     92.356735
2000-01-12     92.744788
2000-01-13     91.774654
2000-01-14     92.841801
2000-01-18     89.834387
2000-01-19     92.744788
2000-01-20     92.356735
2000-01-21     94.297002
2000-01-24     94.297002
2000-01-25     92.453748
2000-01-26     90.610494
2000-01-27     88.088146
2000-01-28     86.584439
2000-01-31     87.118012
2000-02-01     85.371771
2000-02-02     88.088146
2000-02-03     90.901534
2000-02-04     89.737373
2000-02-07     88.573213
2000-02-08     92.308277
2000-02-09     91.191449
2000-02-10     92.551066
2000-02-11     89.637601
2000-02-14     90.171736
                 ...
2011-11-17    166.083431
2011-11-18    165.645273
2011-11-21    162.282998
2011-11-22    162.130982
2011-11-23    159.126403
2011-11-25    158.330548
2011-11-28    162.935788
2011-11-29    161.800125
2011-11-30    168.113314
2011-12-01    169.409930
2011-12-02    169.597722
2011-12-05    170.652895
2011-12-06    172.530762
2011-12-07    173.523346
2011-12-08    171.314623
2011-12-09    173.979394
2011-12-12    171.851146
2011-12-13    170.930101
2011-12-14    168.757153
2011-12-15    167.648316
2011-12-16    164.151927
2011-12-19    163.543851
2011-12-20    167.433712
2011-12-21    162.274060
2011-12-22    162.783758
2011-12-23    165.207100
2011-12-27    165.385941
2011-12-28    164.527498
2011-12-29    166.485828
2011-12-30    164.429133
Name: Adj Close, dtype: float64